# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android / iOS / Web / Desktop build outputs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart outputs
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/data_packs/

# Android build outputs
**/android/app/release
**/android/app/debug
*.apk
*.aab

ARCHITECTURE.md
